@import "styles/utils";

.searchInputWrapper {
  display: flex;
  align-items: center;
  background: var(--theme-box-background);
  box-shadow: var(--theme-box-shadow);
  border-radius: 15px;
  min-height: 60px;

  @include media(">mobile") {
    min-height: 69px;
  }

  .searchIcon {
    margin-left: 16px;
    height: 20px;

    @include media(">mobile") {
      margin-left: 32px;
      height: 24px;
    }
  }

  .searchInput {
    min-height: 25px;
    margin-left: 9px;
    margin-right: 8px;
    outline: none;
    flex: 1;
    border: 0;
    background: transparent;

    @include media(">mobile") {
      margin-left: 24px;
    }

    &::placeholder {
      font-size: 13px;
      line-height: 25px;
      color: var(--theme-main-text);

      @include media(">mobile") {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  .warningMessage {
    font-size: 15px;
    line-height: 22px;
    color: #F74646;
    margin-right: 24px;
  }

  .searchButton {
    background: #0079FF;
    border-radius: 10px;
    border: 0;
    padding: 12.5px 14px 12.5px 14px;

    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 7px;
    cursor: pointer;

    @include media(">mobile") {
      padding: 12.5px 23px 12.5px 23px;
      margin-right: 10px;
    }

    @include media(">desktop") {
      transition: background 0.3s;
      &:hover {
        background: #60ABFF;
      }
    }
  }
}
