@import "styles/utils";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;

  @include media(">mobile") {
    align-items: center;
    justify-content: center;
    min-height: 700px;
  }

  .centeredContainer {
    width: 100%;
    padding: 24px;

    @include media(">mobile") {
      padding: 0;
      max-width: 573px;
    }

    @include media(">desktop") {
      max-width: 730px;
    }
  }
}

.githubSearchContainer {
  display: grid;
  grid-gap: 16px;

  @include media(">mobile") {
    grid-gap: 24px;
  }
}
