@import '~include-media/dist/include-media';

$breakpoints: (mobile: 568px, tablet: 768px, desktop: 992px);

.light {
  --theme-background: #F6F8FF;
  --theme-logo-text: #222731;
  --theme-main-text: #4B6A9B;
  --theme-box-background: #FEFEFE;
  --theme-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  --theme-indicator-box-background: #F6F8FF;
  --theme-icon-color: #4B6A9B;
}

.dark {
  --theme-background: #141D2F;
  --theme-logo-text: #FFFFFF;
  --theme-main-text: #FFFFFF;
  --theme-box-background: #1E2A47;
  --theme-box-shadow: 0;
  --theme-indicator-box-background: #141D2F;
  --theme-icon-color: #FFFFFF;
}
